



header{
    display: block;
    background-color: white;
    position: fixed;
    height: auto;
    width: 100%;
    text-align: right;
    z-index: 100;
    border-bottom: 2px groove;

}

/* header nav{
    /* margin-right: 30px; */
header nav a{
    /* display: inline-block; */
    height: 18px;
    width: 75px;
    float: right;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    /* border: solid black 1px; */
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #4267B2;
   
}

header nav a:hover{
 
    background-color:#004267B2;
  
}

header nav a:active{
    background-color: #1877f277;
}

